<div class="category">
  <a
    href="#"
    class="title collapsed"
    id="headingFive"
    data-toggle="collapse"
    data-target="#collapseFive"
    aria-expanded="true"
    aria-controls="collapseFive"
  >
    <i class="material-icons md-30 online">colorize</i>
    <div class="data">
      <h5>Appearance</h5>
      <p>Customize the look of Swipe</p>
    </div>
    <i class="material-icons">keyboard_arrow_right</i>
  </a>
  <div
    class="collapse"
    id="collapseFive"
    aria-labelledby="headingFive"
    data-parent="#accordionSettings"
  >
    <div class="content no-layer">
      <div class="set">
        <div class="details">
          <h5>Turn Off Lights</h5>
          <p>The dark mode is applied to core areas of the app that are normally
            displayed as light.</p>
        </div>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round mode"></span>
        </label>
      </div>
    </div>
  </div>
</div>