<div class="category">
  <a href="sign-in.html" class="title collapsed">
    <i class="material-icons md-30 online">power_settings_new</i>
    <div class="data">
      <h5>Power Off</h5>
      <p>Log out of your account</p>
    </div>
    <i class="material-icons">keyboard_arrow_right</i>
  </a>
</div>