<div id="chatbox" class="col-md-12">
    <div class="date">
        <hr>
        <span>Yesterday</span>
        <hr>
    </div>
</div>

{{!-- <div class="message">
    <img class="avatar-md" src="dist/img/avatars/avatar-female-5.jpg" data-toggle="tooltip" data-placement="top"
        title="Keith" alt="avatar">
    <div class="text-main">
        <div class="text-group">
            <div class="text typing">
                <div class="wave">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div>
</div> --}}