<div class="modal fade" id="startnewchat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="requests">
            <div class="title">
                <h1>Start new chat</h1>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i
                        class="material-icons">close</i></button>
            </div>
            <div class="content">

                <form id="startNewChatForm">
                    <div class="form-group">
                        <label for="participant">Recipient:</label>
                        <select class="form-control" required>
                            <option value="" class="form-control" selected>Select Recipient</option>
                            {{#friends}}
                            <option id="selectedUser" value="{{id}}" class="form-control">
                                <h1>{{name}}</h1>
                            </option>
                            {{/friends}}
                        </select>
                        {{#user}}
                        <input id="user2_Id" value="{{id}}" hidden>
                        {{/user}}
                    </div>
                    <button id="newChatButton" class="btn button w-100">Start New Chat</button>
                </form>

            </div>
        </div>
    </div>
</div>