{{> header}}

<body>
    <main>
        <div class="layout">
            <!-- Start of Navigation -->
            {{> navigation}}
            <!-- End of Navigation -->
            <!-- Start of Sidebar -->
            {{> sidebar}}
            <!-- End of Sidebar -->
            <!-- Start of Add Friends -->
            {{> addFriends}}
            <!-- End of Add Friends -->
            <!-- Start of Create Chat -->
            {{> startNewChat}}
            <!-- End of Create Chat -->
            {{!-- Start of Main --}}
            {{> main}}
            {{!-- End of Main --}}
        </div> <!-- Layout -->
    </main>
    <!-- Bootstrap/Swipe core JavaScript
		================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{> footer}}